* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("immagini cool/Penthouse at Bosco Verticale Milan.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

